@model Blazor5Email.Server.Services.EmailModel

<h1>@Model.Title</h1>
<p>
    We're excited to have you get started. First, you need to confirm your account. Just press the button below.
</p>

<p>
    If you have any questions, just reply to this email—we're always happy to help out.
</p>

<p>
    The Contoso Team
</p>